@{
    ViewBag.Title = "About Us";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="page-header">
    <h2>@ViewBag.Title</h2>
</div>
<div class="panel">
    <div class="panel-body">
        Cheshire Wire White are a basketball club that play in the Junior National League Under 13's North Division.
    </div>
</div>