@{
    ViewBag.Title = "Contact Us";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="page-header">
    <h2>@ViewBag.Title</h2>
</div>
<div class="panel">
    <div class="panel-body">
        To get invovled with the club please email contact@@CheshireWire.co.uk
    </div>
</div>